h1 {
    color: rgb(255, 0, 0);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: -50px;
    line-height: 1;
    text-align: center;
}

p {
    color: #ddad00;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

textarea {
    color: aqua;
    margin: 20px;
    width: 300px;
    height: 150px;
}

ul, ol {
    font-weight: bolder;
    color: #ddad00;
    margin: 29px;
    padding: 60;
}

li {
    font: 300;
    color: blueviolet; 
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid rgb(179, 23, 145);
}
   
li:last-child {
    color: aquamarine;
    border: none;
}

form {
    border-top-left-radius: 0em;
    color: blue;
    height:110px;
    width:190px;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
}
    
input, textarea {
    padding:20px;
    margin:5px
}